/* estilos para la tabla*/
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: var(--bg-color-sec);
  border: 1px solid var(--border-co);
  color: var(--text-color);
}

.tbody tr {
  border-bottom: 1px solid var(--border-co);
}

.tbody tr:last-child {
  border-bottom: none;
}

.th {
  width: 30%;
  text-align: left;
  padding: 10px;
  background-color: #0a75e8ad;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
}

.td {
  width: 70%;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  color: var(--text-color);
}
